DOMINIO=example.com
EMAIL_GERAL=admin@example.com
SENHA_GERAL="examplepass"
USUARIO=appuser

# Subdominios (prefixos)
TRAEFIK_DASHBOARD_HOST=traefik
PORTAINER_HOST=portainer
MINIO_CONSOLE_HOST=minio
MINIO_API_HOST=s3
PGADMIN_HOST=pgadmin
PHPMYADMIN_HOST=phpmyadmin
N8N_EDITOR_HOST=atm
N8N_WEBHOOK_HOST=worker
EVOLUTION_HOST=whatsapp

# MinIO
MINIO_REGION=eu-west-1

# n8n
N8N_DB_NAME=exampledb
N8N_REDIS_DB=2
N8N_ENCRYPTION_KEY=Srv9ICqKSNbXznZSRiCPKQYeP8qPusE5B67i5en229Nalsr9xPUXZUUJUygpm8iw
N8N_WORKER_ID=worker-1
N8N_WORKER_CONCURRENCY=3

# Evolution
EVOLUTION_DB_NAME=exampledb
EVOLUTION_REDIS_DB=10
EVOLUTION_AUTH_API_KEY=6F2C3B914A8D4577A1D0B2F1E8C9D345
EVOLUTION_CHATWOOT_URL=https://chat.nicepayer.com
EVOLUTION_CHATWOOT_TOKEN=XxSgAzgtgxFKqpvevJMXUF96
EVOLUTION_CHATWOOT_ACCOUNT_ID=1
EVOLUTION_TZ=America/Sao_Paulo
